* {
  margin: 0;
  border: 0;
  background-color: #252a38;
  font-family: 'Segoe UI';
  box-sizing: border-box;
  z-index: 0

}



#root {
  max-width: 1280px;
  // min-height:100vh; pushes components to top of page
  margin: 0 auto;
  text-align: center;
  border-style: border-box;
  background-color: #252a38;
  color:#dcdcdc
}

.list-title{
  padding-bottom: 25px;
  text-align: left;
  padding-left:35px ;
  padding-top: 20px;
  
}

h4 {
  margin-left: 4px;
}

img {
  max-height: 100%;
  max-width: 100%;
  border: 0;
}

// input {
//   border: 1px solid black;
// }


p {
  margin-left: 4px;
}

ul {
  list-style: none;
 
}

li{
  width:30vh;
  list-style-type: none;
  // background-color: #151820;
}

//DUPLICATE??
// .next-previous-container {
//   display: flex;
//   justify-content: space-evenly;
//   width: 100%;
// }

//USER DETAILS PAGE

// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px rgb(52, 52, 52); 
//   border-radius: 10px;
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: darkslategrey; 
//   border-radius: 10px;
// }


.userdetail-title-posts{
padding-top: 5%;
padding-bottom: 2%;
text-align: left;
font-size: 25px;
}

.userdetail-title-posts:first-of-type{
  padding-top:10%;
}

.userdetail-posts-container{
  display: flex;
  flex-wrap: nowrap;
  gap: 1%;
  //overflow: auto;
  overflow-x: scroll;
  // scrollbar-width: none;
}

//unable to scroll with mouse, OK with arrows
.userdetail-posts-container::-webkit-scrollbar{
  width:0;
}

body::-webkit-scrollbar{
display:none;
}

.userdetail-single-post{
display: flex;
flex-direction: column;
width:250px;
scrollbar-width: none;

}


div.userdetail-single-post {
  background-color: #151820;
}

.userdetail-post-message {
  background-color: #151820;
  font-size: 15px;
}

.userdetail-post-image{
  min-width: 200px
}

.user-detail-cover {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 350px;
  max-width: 100%;
}

.user-cover-image {
  width: 100%;
  position: absolute;
  left: 0%;
}

.user-cover-transparency {
  position: absolute;
  height: 20%;
  min-height: 18%;
  width: 100%;
  background-color: #252a38;
  opacity: 0.56;
  bottom:0
}

.user-detail-top-container {
  height: 100vh;
  width: 100vh;
}

.user-name-title {
  position: absolute;
  bottom: 1%;
  left: 15%;
  background-color: transparent;
  margin: 0;
  bottom: 5%;
  left: 20%;
  font-size: 1.7rem;
  font-weight: 600;

}

.user-name-details {
  position: absolute;
  bottom: -15%;
  left: 20%;
  text-align: left;
}

.user-name-email {
  bottom: 5%;
  left: 20%;
  position: absolute;
}

.user-profile-image {
  position: absolute;
  bottom: -15%;
  left: 4%;
  margin: 0;
  border-radius: 50%;
  max-height: 40%;
  border: 2px solid white;
}
.username{
  font-weight: 600
}
.email{
  font-weight: 200;
}

//lIKE AND DISLIKE BUTTONS
.button-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #151820;
  /* align-items: center; */
}

.like-dislike-button {
  padding: 2px 50px;
  margin-bottom: 7px;
  margin-top: 5px;
  background-color: #dcdcdc;
  &:hover{
    background-color: lightblue ;
    //hover not working?
  }
}

//POSTS LIST

.postlist-username{
  font-size: 12px;
  font-weight: 300;
  background-color: #151820;
}

.all-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  row-gap: 29px;
  position: relative;
}

.single-post-container {
  margin: 5px;
  background-color: #151820;
  width: 29%;
  // position:relative
}

.single-post-text-box {
  padding: 0;
  background-color: #151820;
  color: white;
  border: 0;
  width: 25hv;
  text-align: left;
  padding-bottom: 4px;
  padding-left: 5px;
  // position: absolute;
  // bottom: 0;
}

.post-image{
  min-width: 100%;
  min-height:auto;
  background-color: #151820;
  
}

.link-to-user{
  background-color: #151820;
  color:#2985ff
}

//USERS LIST
.user-posts-container {
  display: flex;
  margin-top: 5%;
  overflow: hidden;
}

.user-single-post {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 2%;
}

.title-user-posts{
  margin-top: 30px;
  text-align: left;
}

.user-post-image-url{
  width: 200px;
  height: auto;
}

//NEXT AND PREVIOUS BUTTONS

.previous-next-container {
  display: flex;
  // align-content: center;
  justify-content: center;
}

.previous-next-button {
  background-color: #2985ff;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  width: 100px;
}



  

//Forms styling

// form {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   margin: 0;
//   width: 400px;
//   padding: 2em;
//   border: 1px solid #ccc;
//   border-radius: 1em;
//   align-content: center;
//   justify-content: center;
//   box-shadow: 30px 30px 100px -10px black;

// }
// label {
//   /* Uniform size & alignment */
//   // display:block;
//   width: 100%;
//   text-align:center;
//   font-size: large;
//   font-weight: 500;
//   // align-content: center;
//   border-radius: 1em;
//   justify-content: center;
// }

// [type=text] {
//   border-radius: 8px;
//   height: 25px;
//   margin: 15px;
//   align-self: right;
//   width: 70%;
//   background-color: #dcdcdc;
//  //background: linear-gradient(to right, #dcdcdc 10%, #2985ff 100%);
// }

// ::placeholder{
//   font-style: italic;
//   font-weight: 200;
// }

// button[type=submit] {
//   margin-top: 15px;
//   background-color: #2985ff;
  
//   font-size: 15px;
//   color: black;
// }

// .create-title{
//   padding-bottom: 5%;
//   font-size: 40px;

// }
