form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 400px;
	padding: 2em;
	border: 1px solid #ccc;
	border-radius: 1em;
	align-content: center;
	justify-content: center;
	box-shadow: 30px 30px 100px -10px black;
  
  }
  label {
	/* Uniform size & alignment */
	// display:block;
	width: 100%;
	text-align:center;
	font-size: large;
	font-weight: 500;
	// align-content: center;
	border-radius: 1em;
	justify-content: center;
  }
  
  [type=text] {
	border-radius: 8px;
	height: 25px;
	margin: 15px;
	align-self: right;
	width: 70%;
	background-color: #dcdcdc;
   //background: linear-gradient(to right, #dcdcdc 10%, #2985ff 100%);
  }
  
  ::placeholder{
	font-style: italic;
	font-weight: 200;
  }
  
  button[type=submit]:not(.like-dislike-button){
	margin-top: 15px;
	background-color: #2985ff;
	
	font-size: 15px;
	color: black;
  }
  
  .create-title{
	padding-bottom: 5%;
	font-size: 40px;
  
  }
  
@media only screen and (max-width: 590px) {
	form {
	  width:50%;
	  background-color: yellow; 
	}
	.create-title{
		font-size: 25px;
	}
}

.errormessage {
	color: yellow;
	font-style: italic;
	padding-bottom: 3%;;
}

